@import "tailwindcss";
@plugin "daisyui";
@theme {
  --animate-marquee: marquee 28s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

/* optional */
html {
  -webkit-font-smoothing: antialiased;
}

body {
  background: #f0f0f0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}